header {
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    left: 10%;
    margin-top: 10px;
}

header .title {
    letter-spacing: 1px;
    color: #007bc7;
    font-family: "Cormorant", serif;
    font-size: 2em;
}

header .menu ul {
    display: flex;
    gap: 30px;
}

header .menu ul li a {
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s ease-in-out;
    padding: 5px;
    color: rgb(105, 94, 94);
}

header .menu ul li a:hover {
    color: #FFF;
    border-bottom: 1px solid #007bc7;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
}

main .container-about-me {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .container-about-me .image {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
}

main .container-about-me .information .name {
    margin-bottom: 20px;
    width: 550px;
    border-right: 2px solid #333;
}

main .container-about-me .information .name strong {
    color: #007bc7;
    border-bottom: 1px solid #333;
}

main .container-about-me .information p {
    max-width: 550px;
    margin-bottom: 30px;
    text-align: justify;
}

main .container-about-me .information .contact {
    padding: 10px 15px;
    border: 1px solid #FFF;
    transition: 0.5s ease-in-out;
    color: rgb(105, 94, 94);
    font-weight: 500;
}

main .container-about-me .information .contact:hover {
    border: 1px solid #007bc7;
    color: #FFF;
}
